USE [master]
GO
/****** Object:  Database [weather]    Script Date: 16.01.2020 21:31:48 ******/
CREATE DATABASE [weather]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'weather', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\weather.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'weather_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\weather_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [weather].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [weather]
GO
USE [weather]
GO
/****** Object:  Table [dbo].[DayWeather]    Script Date: 16.01.2020 21:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DayWeather](
	[Id] [int] NOT NULL,
	[Day] [date] NULL,
	[DayTemperature] [float] NULL,
	[NightTemperature] [float] NULL,
	[IdImagePath] [int] NULL,
 CONSTRAINT [PK_DayWeather] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImagePath]    Script Date: 16.01.2020 21:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagePath](
	[Id] [int] NOT NULL,
	[Weather] [varchar](50) NOT NULL,
	[Path] [varchar](max) NOT NULL,
 CONSTRAINT [PK_ImagePath] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DayWeather]  WITH CHECK ADD  CONSTRAINT [FK_DayWeather_ImagePath] FOREIGN KEY([IdImagePath])
REFERENCES [dbo].[ImagePath] ([Id])
GO
ALTER TABLE [dbo].[DayWeather] CHECK CONSTRAINT [FK_DayWeather_ImagePath]
GO
USE [master]
GO
