<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PLWeatherApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <connectionStrings>
    <add name="weatherConnStr" connectionString="Data Source=DESKTOP-LEONID\SQLEXPRESS;Initial Catalog=weather;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add name="WeatherEntities" connectionString="metadata=res://*/WeatherForecastModel.csdl|res://*/WeatherForecastModel.ssdl|res://*/WeatherForecastModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-leonid\sqlexpress;initial catalog=weather;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <unity>
    <container>
      <register type="DAL.WeatherForecast.Interface.IDayWeatherRepository, DAL.WeatherForecast"
                mapTo="DAL.EF.WeatherForecast.Repository.DayWeatherEfRepository, DAL.EF.WeatherForecast" />
      <register type="DAL.WeatherForecast.Interface.IImagePathRepository, DAL.WeatherForecast"
                mapTo="DAL.EF.WeatherForecast.Repository.ImagePathEfRepository, DAL.EF.WeatherForecast" />
      
      <!--<register type="DAL.WeatherForecast.Interface.IDayWeatherRepository, DAL.WeatherForecast"
                mapTo="DAL.WeatherForecast.Repository.DayWeatherRepository, DAL.WeatherForecast">
        <constructor>
          <param name="connectionString" value="weatherConnStr"/>
        </constructor>
      </register>
      <register type="DAL.WeatherForecast.Interface.IImagePathRepository, DAL.WeatherForecast" 
                mapTo="DAL.WeatherForecast.Repository.ImagePathRepository, DAL.WeatherForecast">
        <constructor>
          <param name="connectionString" value="weatherConnStr"/>
        </constructor>
      </register>-->
    </container>
  </unity>
  <userSettings>
    <PLWeatherApp.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
    </PLWeatherApp.Properties.Settings>
  </userSettings>
</configuration>